/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 16px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     width: 100%;
     height:100%;
     margin: 0;
     padding: 0;
     color:#040404;
     background: rgb(223, 223, 223);
}
table {
     width:100%;
}
.jasmine_html-reporter {
     display:none;
}
h1 {
     letter-spacing: 1px;
     font-family: 'Alfa Slab One', cursive;
     font-size:70px;
     padding:20px;
     border-bottom:1px solid #dcdcdc;
     margin-bottom:20px;
     background-color: black;
     color: white;
     
}
td, th {
     padding: 8px;
     text-align: left;
     border-width: 0 1px 1px 0;
}
 table, td, th {
     border: 1px solid rgba(0,0,0,.1);
}
.red {
     color:red;
}
.blue {
     color:blue;
}
#content {
     max-width:1000px;
     margin:auto;
     padding: 20px;
    background: white;
}
th {
     background: black;
     color: white;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:768px){

}

@media screen and (min-width:769px) and (max-width:1440px){

}
